body {
  font-family: 'Bonbon', cursive;
  font-size: 40px;
  margin-left: 20px;
  background-color: lime;
}
div#root {
  display: flex;
  justify-content: center;
  margin-top:  100px;
}

div div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  border: 10px solid pink;
  background-color: yellow;
  color: orange;
  margin-bottom: 50px;

}
ul{
  margin: 5px;
}

div.auto-complete {
  flex-direction: column;
}

li {
  padding: 10px;
}

input {
  font-size: 40px;
  font-family: 'Bonbon', cursive;
  background-color: black;
  color: magenta;

}

div.weather {
  display: flex;
  justify-content: center;

}
div div div:hover {
  background-color: red;
}

article {
  display: inline-block;
  width: auto;

}

div.tabs {
  align-items: flex-start;
  justify-content: flex-start;
}

div.tabs ul {
  padding: 0px;
  border-right: 5px solid pink;
  margin: 0;
}

h1 {
  border-bottom: 5px solid blue;
  margin: 0;
}

li:hover {
  cursor: pointer;
  background-color: turquoise;
  color: cyan;
}

h1:hover {
  font-size: 10px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  background-color: white;
}
.annoying {
  animation: pulse .2s infinite;
}

@keyframes pulse {
  0%, 100%  {
    background-color: lime;
  }
  33% {
    background-color: blue;
  }
  66% {
    background-color: #ff0080;
  }
}
